* { 
  margin: 0; 
  padding: 0;
   box-sizing: border-box; 
   font-family: Arial;
   }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px 30px;
}

nav a { 
  color: white; 
  margin-left: 15px; 
  text-decoration: none; }

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 30px;
}

.flex-boxes {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.box {
  background: #eee;
  padding: 30px;
  text-align: center;
  flex: 1;
  border-radius: 8px;
}

footer {
  background: #111;
  color: #ccc;
  text-align: center;
  padding: 10px;
  margin-top: 300px;
}

.animated-title {
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 800px) {
  main { grid-template-columns: 1fr; }
  .flex-boxes { flex-direction: column; }
}